
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  box-sizing: border-box;
  margin-left: 2vw;
  margin-right: 2vw;


  scrollbar-width: none;
}


::-webkit-scrollbar {
  display: none;
}
